.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.line {
  border: 1px solid #555;
}

.input_container {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
}

.input_container input {
  height: 1.75em;
}

.input_container label {
  font-weight: bold;
  color: #535252;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.button button {
  padding: 0.5em 1em;
  margin: 0.5em 0 1em 0;
  border: none;
  width: 45%;
  background-color: #e3e1e1;
  border: #535252 solid 1px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.button button:hover {
  background-color: #43e97a;
}

/* For tablets and larger screens */
@media (min-width: 768px) {
  .input_container {
    flex-direction: row;
  }
}
